@media (min-width: 426px) {
    .swiper-slide  {
        transform: scale(.5);
    }
}

@media (max-width : 425px)  {
    .slider1 {
        margin-top: 60px;
    }
    .topbar-mobile-on.header-mobile-fixed .topbar {
        display: flex;
        justify-content: center;
    }
    .burger-icon span,.burger-icon span::before, .burger-icon span::after,.burger-icon span::before, .burger-icon span::after {
        background-color: white!important;
    }
    .svg-icon svg g [fill] {
fill:white
    }
    .slider1 .btn-danger {
        margin-bottom: 2.5rem;
    }
    .header-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-text, .header-menu .menu-nav > .menu-item > .menu-link .menu-text, .text-dark-50, .header-menu .menu-nav > .menu-item:hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text, .header-menu .menu-nav > .menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text{       color:lightseagreen !important
    }
    .tabs1 [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        font-size: 1rem;
    }
    .swiper-slide {
        transform: scaleY(.5);
    }
    .footer1 .col-md-4 {
        margin-bottom: 2rem!important;
    }
    .footer1 h3, .footer1 p {
        text-align: center;
    }
}
